

footer{

display: block;
    
    
}
h1,h2{
margin-right: 5em;
    font-size: 2em;

}

#minecraft-rules{

font-size: 1em;
color: black;
    margin-right: 10em;
}


#unturned-rules{

font-size: 1em;
color: black;
    margin-right: 10em;
}

