



    



footer {

    display: block;


}


h1 {

    display: block;
    font-size: 1em;


}


img {
    height: 10em;
    margin-bottom: 0.5em;
    border: 0.2em solid black;
}



h2 {


    display: block;
    font-size: 1em;


}


#flex {
    display: flex;
    flex-direction: row;

}

#download{
height: 15%;
width: 15%
}